
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* RESET CSS START*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
span{
    color: #EEEEEE;
}
section{
    
    padding: 10rem 12% 10rem;
}
body{
   background-color: #222831;
   color:#EEEEEE ;
}
/* RESET CSS END*/
/* ?HEADER CSS START */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem ;
    background-color: #0C0C0C; 
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}
.logo{
    font-size: 3rem;
    color: #EEEEEE;
    font-weight: 800;
    transition: 0.3s ease-in-out;
    
}

.logo span{
    text-shadow: 0 0 23px #FF9100 ;
    
   
}
.logo:hover{
    transform: scale(1.1);  
}
.logo span:hover{
    color:#87A922;
}
.navbar a{
    font-size: 1.7rem;
    color: #EEEEEE;
    margin-left: 4.1rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a:active{
    color: #87A922;
    border-bottom: 3px solid #FF9100;
}
#menu-icon{
    font-size: 3.7rem;
    color: #FF9100;
    display: none;
}
/* ?HEADER CSS END */
/* ?HOME START  */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    background-color: #222831;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    text-align: left;
    margin-top: 3rem;

}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1.5rem;

}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;

}

.home-img{
    border-radius: 50%;

}
.home-img img{
    width: 29vw;
    position: relative;
    top: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 29px #87A922;
    cursor: pointer;
    transition: 0.5s ease-in-out ;
}

.home-img img:hover{
    box-shadow: 0 0 29px #FF9100;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.7;
    max-width: 1001px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: transparent;
    border: 2px solid #FF9100;
    font-size: 2.5rem;
    border-radius: 47%;
    cursor: pointer;
    color: #87A922;
    margin: 3rem 1.5rem 3rem 0;
    transition: 300ms ease-in-out;
}
.social-icons a:hover{
    color: #EEEEEE;
    transform: scale(1.1) translateY(-5px) translateX(3px);
    box-shadow: 0 0 23px #87A922;
    background-color: #FF9100;

}
.btn{
    display: inline-block;
    padding: 1rem 2.7rem;
    box-shadow: 0 0 23px #87A922;
    border-radius: 4.1rem;
    font-size: 1.7rem;
    color: #0C0C0C;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 300ms ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.01);
    box-shadow: 0 0 47px #FF9100;
    background-color: #E1D7B7;
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: #87A922;
    color: #E1D7B7;
    border: 2px solid #FF9100;
    box-shadow: 0 0 23px transparent;
    
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 23px #87A922;
    background-color: #FF9100;
    color: #0C0C0C;
    border: 2px solid #222831;
}
.text-animation{
    font-size: 27px;
    font-weight: 600;
    min-width: 279px; 
    
}


.text-animation span{
    position: relative;
   
}


.text-animation span::before{
    content: '';
    color: #FF9100;
    animation: words 20s infinite;
}
.text-animation span::after{
    content: '';
    background-color: #222831;
    height: 100%;
    width: calc(100% + 3px);
    position: absolute;
    right: -3px;
    border-left: 3px solid #222831;
    animation: cursor 0.5s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid #87A922;
    }
}

@keyframes words{
     0%,
     20% {
        content: "are Front-end Developer";
     }
     21%,
     40% {
        content: "are Back-end Developer";
     }
     41%,
     60% {
        content: "are Software Tester";
     }
     61%,
     80% {
        content: "are Software Developer";
     }
     81%,
     100% {
        content: "are Full-Stack Developer";
     }
}

@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%,
    100%{
        width: calc(100% + 3px);
    }
}
/* ?HOME END  */
/* ?EDUCATION START */
.heading{
    font-size: 7rem;
    text-align: center;
    margin: 5rem 0 ;
    margin-bottom: 1rem;
}
.education{
    background-color: #3C3D37;
    padding: 101px 17px;
    

}
.timeline-items{
    max-width: 1199px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #87A922;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 41px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 31px);
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 31px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #87A922;
    box-shadow: 0 0 23px #87A922, 0 0 47px #87A922;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 11px;
}

.timeline-date{
    font-size: 19px;
    font-weight: 800;
    color: #EEEEEE;
    margin: 5px 0 13px;
}
.timeline-content{
    background-color: #222831;
    border: 3px solid #FF9100;
    padding: 31px 51px;
    border-radius: 4.1rem;
    box-shadow: 0 0 11px #87A922;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    box-shadow: 0 0 23px #FF9100;
    transform: scale(1.05) translateX(-5px);
}
.timeline-content h3{
    font-size: 19px;
    color: #EEEEEE;
    margin: 0 0 11px;
    font-weight: 500;
}
.timeline-content p{
    color: #EEEEEE;
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
}
::-webkit-scrollbar{
    width: 1.7rem;
}
::-webkit-scrollbar-thumb{
    background-color: #FF9100;
    border-radius: 4.1rem;
}
::-webkit-scrollbar-track{
    background-color: #0C0C0C;
    width: 47px;
}
/* ?EDUCATION END */
/* ?SERVICES START */
.services{
    background-color: #0C0C0C;
    color: #E1D7B7;
}
.services h2{
    color: #E1D7B7;
    margin-bottom: 5rem;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.services-box{
    background-color:#222831 ;
    height: 299px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.services-box:hover{
    background-color: #3C3D37;
    color: #87A922;
    border: 5px solid #FF9100;
    box-shadow: 0 0 23px #87A922;
    transform: scale(1.03);  
}
.services-box .service-info{
    display: flex;
    max-height: 199px;
    text-align: left;
    padding: 5rem 5rem;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
}
.service-info h4{
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}
.service-info p {
    font-size: 1.7rem;
    font-weight: 600;
    max-height: 99px;
    line-height: 1.7;
    margin: auto;
}
/* ?SERVICES END */
/* ?FROM YOU START */
.fromyou{
    background-color: #3C3D37;  
}
.fromyou-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fromyou-box img{
    width: 15rem;
    border-radius: 50%;
    border-radius: 3px solid #87a922;
    box-shadow: 0 0 23px #87A922;
    height: 17rem;
}
.wrapper{
    display: flex;
    grid-template-columns: repeat(3 , 1fr);
    gap: 3rem;
}
.fromyou-item{
    min-height: 549px;
    max-width: 449px;
    background-color: #0C0C0C;
    border: 3px solid #CDC1FF;
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 29px 59px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    color: #E1D7B7 ;
    transition: 0.5s ease-in-out;
}
.fromyou-item:hover{
    border: 3px solid #FF9100;
    box-shadow: 0 0 47px #FF9100;
}
.fromyou-item h2{
    font-size: 2.7rem;
}
.fromyou-item p{
    font-size: 1.3rem;
}
.bxs-star{
    color: #FFEB00;
    font-size: 2rem;
}
.fromyou-item:nth-child(2){
    border: 3px solid #FF9100;
    box-shadow: 0 0 47px #FF9100;
    transform: scale(1.1);
    animation: lighting 1s infinite alternate;
}
@keyframes lighting {
    0% {
        box-shadow: 0 0 11px #FF9100;
        transform: translateY(5px);
    }
    100% {
        box-shadow: 0 0 47px #FF9100;
        transform: scale(1.01) translateX(5px);
    }
}
/* ?FROM YOU END */

/* ?CONTACT START */
.heading span{
    color: #FF9100;
    transition: 0.3s;
    cursor: pointer;
}
.heading span:hover{
    color: #87a922;
    transform: scale(1.01);
}
.contact{
    background-color: #0C0C0C;
}
.contact form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.7rem;
    color: #0C0C0C;
    background-color: #CDC1FF;
    border-radius: 2rem;
    border: 2px solid #FF9100;
    margin: 1.5rem 0;
    resize: none;
    caret-color: #0C0C0C;
}

input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* ?CONTACT END */
/* ?FOOTER START */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 41px 0;
    background-color: #3C3D37; 
}
.footer .social{
    text-align: center;
    padding-bottom: 23px;
    color: #222831;  
}
.footer .social a{
    font-size: 23px;
    color: #87A922;
    border: 2px solid #FF9100;
    line-height: 41px;
    width: 41px;
    height: 41px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 11px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover{
    transform: scale(1.03) translateY(-5px);
    background-color: #87A922;
    color: #FF9100;
    box-shadow: 0 0 23px #FF9100;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 19px;
    line-height: 1.7;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: #E1D7B7;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.footer ul li a:hover{
    border-bottom: 3px solid #FF9100 ;
    color: #87A922;
}
.footer ul li{
    display: inline-block;
    padding: 0 13px;

}
.copyright{
    margin-top: 47px;
    text-align: center;
    color: #E1D7B7;
    font-size: 17px;
}
.copyright span{
    color: #87A922;
}
/* ?FOOTER END */
 /* ?MEDIA QUERIES START */
 @media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
 }
 @media (max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10.1rem 3% 2rem;    
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    
    .services {
        padding-bottom: 7rem; 
    }
    .wrapper{ 
       flex-direction: column;
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }

 }
@media(max-width:895px){
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        backdrop-filter: blur(19px);
        background-color: #0C0C0C;
        border-bottom-left-radius: 2rem;
        border-left: 2px solid #FF9100;
        border-bottom: 2px solid #FF9100;
        display: none;
        width: 50%;
        padding: 1rem 3%;

    }
    #menu-icon{
        display: block;
        cursor: pointer;
    }
    .navbar a{
        display: block;
        font-size: 1.9rem;
        margin: 3rem 0;
        color: #E1D7B7;
    }
    .navbar.active{
        display: block;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
       max-width: 601px;
    }
    .home-img img{
        width: 56vh;
    }
    .services{
        margin-bottom: 3rem;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
}
 @media(max-width:575px){
    .header a{
        font-size: 2.1rem;
        
 }
 .home{
    gap:5rem;
    width: 100%;
    margin: 0;
 }
 .home-content h1{
    font-size: 5rem;
    margin-bottom: 5rem;
 }
 .home-content h3{
    font-size: 3.5rem;
 }
 .text-animation span{
    display: block;
    font-size: 2.7rem;
    margin-bottom: 2.5;
 }
 .text-animation span::after{
    content: "";
    background-color: #222831;
    width: calc(100% + 0);
    height: 100%;
    position: absolute;
    border-left: 3px solid #222831;
    right: 0;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
 }
 .home-content p{
    font-size: 1.9rem;
 }
.home-content .social-icons, .btn-group{
    margin: 0 auto;
}
 .home-content .social-icons a{
   width: 6.1rem;
   height: 6.1rem;
 }
 .home-content .btn-group .btn{
    font-size: 2.1rem;
 }
.education{
    width: 100%;
}
.education h2{
    font-size: 5.9rem;
}
h2 .heading{
    font-size: 4.5rem !important;
}
.services-container{
    margin: 0;
}
.service-info{
    padding: 0 2rem;
}
.service-info h4{
    line-height: 1;
    margin-bottom: 13px;
}
.service-info p{
    font-size: 1.7rem;
    line-height: 1;
}
.fromyou-item:nth-child(2){
    border: none;
    box-shadow: none;
    transform: scale(1);
    animation: none;


    min-height: 549px;
    max-width: 449px;
    background-color: #0C0C0C;
    border: 3px solid #CDC1FF;
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 29px 59px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    color: #E1D7B7 ;
    transition: 0.5s ease-in-out;
}
.fromyou-item:hover{
    border: 3px solid #FF9100;
    box-shadow: 0 0 47px #FF9100;
}

}

@media screen and (min-width:769px) and (max-width:1024px) {
    .navbar a{
        font-size: 1.5rem;
    }
    .home-content h1{
        font-size: 4.5rem;
    }
    .home-content p{
        font-size: 1.7rem;
        margin: 0;
    }
    .home-content h3{
        font-size: 2.4rem;
    }
    .service-info{
        padding: 0rem 1.9rem;
    }
    .service-info h4{
        margin-bottom: 13px;
        line-height: 1;
    }
    .service-info p{
        font-size: 1.7rem;
        line-height: 1;
    }
}
    
@media screen and (min-width: 1025px) {
    .home-content h1{
        font-size: 3.5rem;
    }
    .home-content p{
        font-size: 1.7rem;
        margin: 0;
    }
    .home-content h3{
        font-size: 2.5rem;
    }
    .service-info{
        padding: 0rem 1rem;
    }
    .service-info h4{
        margin-bottom: 13px;
        line-height: 1;
    }
    .service-info p{
        font-size: 1.7rem;
        line-height: 1;
    }
    
    }

 /* ?MEDIA QUERIES END */